
.portgal_breadcumb {
	padding:	0px;
	margin:		10px 0px 0px 0px;
}

.portgal_breadcumb li {
	float:		left;
	margin:		0px;
	padding:	0px;
	margin-right:	1px;
	margin-bottom:	1px;
}

.portgal_breadcumb li a {
	padding:			15px;
	min-width:			150px;
	text-align:			center;
	background-color:		white;
	display:			block;
	text-decoration:		none;
	text-transform:			uppercase;
	font-weight:			bold;
	-webkit-transition-duration:	0.1s;
	transition-duration:	0.1s;
	color:			#5A5A5A;
}

.portgal_breadcumb li a:hover, .portgal_breadcumb li a.active, .portgal_breadcumb li a.focus, .portgal_breadcumb li a.portgal_active  {
	color:			white;
	background-color:	#7A7A7A;
}

.portgal_message {
	border-top-width:	2px;
	border-bottom-width:	2px;
	border-top-style:	solid;
	border-bottom-style:	solid;
	margin:			10px;
	padding:		10px;
	background-color:	white;
}

.portgal_message_error {
	border-color:		red;
}

.portgal_message_ok {
	border-color:		green;
}

.portgal_formwrap {
	padding:		10px;
	background-color:	white;
}

.portgal_form_list {
  list-style-type:		none;
  width:			100%;
  margin:			0px;
  padding:			0px;
}

.portgal_clr {
  clear:			both;
}
  
.portgal_form_list2 {
  list-style-type:	none;
  width:		100%;
  margin:		0px;
  padding:		0px;
}

.portgal_form_list2 li {
  float:		left;
  width:		50%;
}

.portgal_form_list2 li:nth-child(2n+1) {
  clear:		both;
}

.portgal_form_list2 label {
  width:		100%;
  font-weight:		bold;
  display:		block;
  padding:		10px 1px 10px 1px;
}

.portgal_form_list2 li.portgal_formlist_line {
  height:		20px;
  border-bottom:	1px #D3D3D3 solid;
  margin-bottom:	20px;
}

.portgal_form_list2 input[type="text"] , .portgal_form_list2 select {
  width:		75%;
}

.portgal_wrap_submit {
  padding:		10px 0px 10px 0px;  
}


.portgal_table_form {
  width:	100%;
  
}

.portgal_table_form thead tr th ,
.portgal_table_form tbody tr td {
  padding:	3px;
}

.portgal_table_form thead tr th {
  font-weight:	bold;
  text-align:	left;
}

.portgal_table_form thead tr {
  background-color:	#E9E9E9;
}

.portgal_table_form tbody tr:nth-child(2n) {
  background-color:	#F2F2F2;
}


.portgal_new_item_select {
  padding:	0px;
  margin:	0px;
  text-align:	center;
  width:	100%;
  
}

.portgal_new_item_select a {
  background-color:	white;
  text-align:		center;
  padding-top:		40px;
  padding-bottom:	40px;
  width:		150px;
  display:		inline-block;
  font-weight:		bold;
  color:		#626262;
  text-decoration:	none;
  border:		5px white solid;
  margin:		50px;
}

.portgal_new_item_select a:hover, .portgal_new_item_select a:focus, .portgal_new_item_select a:active {
  background-color:	transparent;
  color:		#626262;
}

.portgaldlanimationname {
  font-weight:		bold;
  text-transform:	uppercase;
  border-top:		10px gray solid;
  
  color:		black;
  padding:		10px;
  width:		100%;
  display:		block;
  -webkit-box-sizing:	border-box;
     -moz-box-sizing:	border-box;
          box-sizing:	border-box;
}

.portgaldlanimationwrap {
  background:	-moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(221,221,221,0) 100%);
  background:	-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(221,221,221,0)));
  background:	-webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(221,221,221,0) 100%);
  background:	-o-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(221,221,221,0) 100%);
  background:	-ms-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(221,221,221,0) 100%);
  background:	linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(221,221,221,0) 100%);
  filter:	progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#00dddddd',GradientType=0 );
  width:	350px; 
  height:	500px;
  margin:	10px; 
  float:	left
}


.portgaldlanimationwrap_selected {
  background: -moz-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(221,221,221,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,168,168,1)), color-stop(100%,rgba(221,221,221,0)));
  background: -webkit-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(221,221,221,0) 100%);
  background: -o-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(221,221,221,0) 100%);
  background: -ms-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(221,221,221,0) 100%);
  background: linear-gradient(to bottom, rgba(168,168,168,1) 0%,rgba(221,221,221,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#00dddddd',GradientType=0 );
}

.portgaldlanimationwrap input {
  margin-right:	5px;
}

#app_category_add select {
  width:	100%;
}
